body {
  background-image: url(imagenes/Fondos/playa.jpg);
  
  margin: 0;
  position: relative;
}

main {
  height: 720px;
  width: 1280px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
}

#pantalla-inicio {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(/imagenes/Fondos/portada\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#texto-inicio {
  font-family: '8BIT WONDER', sans-serif;
  padding-left: 20px;
  padding-bottom: 20px;
}

#pantalla-juego {
  display: none;
  background-image: url(imagenes/Fondos/escenario\ 2\ pixel\ \(1\).png);
  background-size: cover;
}

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . logo logo logo logo logo . ."
      ". . barra-de-vida barra-de-vida . barra-de-vida-enemigo barra-de-vida-enemigo . ."
      ". . . . . . . . ."
      ". . . . . . . . ."
      ". . personaje personaje . enemigo enemigo . ."
      ". . personaje personaje . enemigo enemigo . ."
      ". . . . . . . . ."
      ". . . botones botones botones . . ."
      ". . . . . . . . .";
  }

.texto-juego {
  font-family: '8BIT WONDER', sans-serif;
  grid-area: logo;
  align-self: self-end;
  justify-self: center;
  font-size: 25px;
}

.personaje {
  grid-area: personaje;
  justify-self: center;
  align-self: center;
  scale: 1.75;
}

.enemigo {
  grid-area: enemigo;
  color: white;
  justify-self: center;
  align-self: center;
  scale: 1.75;
}

.barra-de-vida {
  grid-area: barra-de-vida;
  justify-self: center;
  align-self: self-end;
  font-family: '8BIT WONDER', sans-serif;
  color: white;
  font-size:25px ;
}

.barra-de-vida-2 {
  grid-area: barra-de-vida-enemigo;
  justify-self: center;
  align-self: self-end;
  font-family: '8BIT WONDER', sans-serif;
  color: white;
  font-size: 25px;
}

.botones {
  grid-area: botones;
  justify-self: center;
  align-self: self-start;
}

#pantalla-game-over {
  display: none;
  background-color: black;
  background-size: cover;
}

.container-game-over {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
      ". game-over-texto ."
      ". . ."
      ". game-over-boton .";
}

.game-over-texto {
  grid-area: game-over-texto;
  align-self: center;
  justify-self: center;
  width: 700px;
  background-color: black;
  color: white;
}

.game-over-boton {
  grid-area: game-over-boton;
  justify-self: center;
  align-self: center;
  font-size: 32px;
}

#pantalla-victoria {
  display: none;
  background-image: url(/imagenes/Fondos/portada\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-victory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
      ". . ."
      ". . ."
      ". win-boton .";
}

.texto-victoria {
  font-family: '8BIT WONDER', sans-serif;
  font-size: 64px;
}

.win-boton {
  grid-area: win-boton;
  justify-self: center;
  align-self: center;
  font-size: 32px;
}






